<ul>
  <% @files.each do |file_name| %>
    <li>
      <a href="/<%= file_name %>"><%= file_name %></a>
      <a href="/<%= file_name %>/edit"><button type='button'>edit</button></a>
      <form class="inline" action="/<%= file_name %>/delete" method="post">
        <button type="submit" name="delete">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href='/new'>New Document</a></p>

<% if session[:signed_in] %>
  <form class="inline italic" action="/users/signout" method="post">
    Signed in as <%= session[:username] %>.
    <button type="submit" name="sign_out">Sign Out</button>
  </form>
<% else %>
  <a href="/users/signin"><button type="button" class='sign_in'>Sign In</button></a>
<% end %>
