<ul>
  <% @files.each do |file_name| %>
    <li>
      <a href='/<%= file_name %>'><%= file_name %></a>
      <% if session[:signed_in] %>
        <a href='/<%= file_name %>/edit'><button id='edit' type='button'>edit</button></a>
        <form class='inline' action='/<%= file_name %>/duplicate' method='post'>
          <button type='submit' id='duplicate' name='duplicate'>duplicate</button>
        </form>
        <a href='/<%= file_name %>/rename'><button id='rename' type='rename'>rename</button></a>
        <form class='inline' action='/<%= file_name %>/delete' method='post'>
          <button id='delete' type='submit' name='delete'>delete</button>
        </form>
      <% end %>
    </li>
  <% end %>
</ul>

<% if session[:signed_in] %>
  <p>
    <a href='/new'><button id='new' type='button' name='new_doc'>New Document</button></a>
    <a href='/upload'><button id='upload' type='button' name='upload'>Upload File</button></a>
  </p>
  <form class='inline italic' action='/users/signout' method='post'>
    Signed in as <%= session[:username] %>.
    <button type='submit' id='sign_out' name='sign_out'>Sign Out</button>
  </form>
<% else %>
  <p class='italic'> For enhanced functionality, please sign in. </p>
  <a href='/users/signin'><button type='button' id='sign_in'>Sign In</button></a>
<% end %>
